Source: fspy
Section: misc
Priority: optional
Maintainer: Giuseppe Iuculano <giuseppe@iuculano.it>
Build-Depends: quilt, debhelper (>= 7)
Standards-Version: 3.8.0
Homepage: http://mytty.org/fspy
DM-Upload-Allowed: yes
Vcs-git: git://git.debian.org/git/users/derevko-guest/fspy.git
Vcs-Browser: http://git.debian.org/?p=users/derevko-guest/fspy.git

Package: fspy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: filesystem activity monitoring tool
 fspy is an easy to use Linux filesystem activity monitoring tool which is
 meant to be small, fast and to handle system resources conservative.
 You can apply filters, use diffing and your own output format in order to get
 the best results.
